node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.expo-shared/
.eslintrc
yarn-error.log
yarn.lock
constants/firebase-config.js
constants/social-config.js
# macOS
.DS_Store
